#home {
  /* background-color: red; */
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.homeText {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 35%;
  justify-content: center;
}

.homeText p {
  font-size: large;
}

.homeText h1 {
  padding-top: 05%;
  padding-bottom: 05%;
}

.homeImg {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 45%;
  justify-content: flex-end;
}

.homeImg img {
  object-fit: contain;
  width: 100%;
}
